@use "./base.scss";

// put your custom CSS here!
/* Evita que el título del sitio se corte en mobile */
.site-title {
  font-size: 1.2rem !important; /* ajustá este valor */
  line-height: 1.2 !important;
  white-space: nowrap !important; /* evita que se corte en dos líneas */
}