@use "./base.scss";

// put your custom CSS here!
.page-title {
  font-size: 1.2rem !important;   /* ajustá hasta que quede bien */
  line-height: 1.2 !important;    /* mejora el encaje vertical */
  white-space: nowrap !important; /* evita que se corte en 2 líneas */
}